header {
  background-color: rgb(0, 162, 255);
  width: 100vw;
  height: 20vh;
  .icons-menu {
    background-color: red;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    ul {
      display: flex;
    }
  }
  .nav-menu {
    background-color: yellow;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    li > a {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: $FP-color;
      &:hover {
        color: $P1-color;
      }
    }
  }
}
